body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
    color: #fff;
    background-color: #000080;
    font-family: 'Handlee', cursive;
    box-sizing: border-box;
}

section {
    text-align: center;
    margin: 4.8em auto;
    width: 750px;
    height: 450px;
    padding-top: 20px;
   border-radius: 10px;
    background-color: #fff;
    color: #000080;
}


@media only screen and (max-width: 320px){
    .main {
        max-width: 100%;
    }
}
input {
    margin: 10px;
}

button {
    width: 50%;
    padding: 10px 10px;
    margin-top: 30px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color:#000080;
    font-family: 'Handlee', 'cursive';
}
